<%= form_with(model: comment, local: true) do |form| %>

  <% if comment.errors.any? %>
    <div id="error_explanation">
      <i class="edit-profile-errors-message">* <%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</i>

      <ul class="edit-profile-errors-message">
        <% comment.errors.full_messages.each do |message| %>
          <li><i><%= message %></i></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= form.label :title %>
    <br>
    <%= form.text_field :title, style:"width: 60%" %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <br>
    <%= form.number_field :rate, min:1, max:5 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <br>
    <%= form.text_area :description, style:"width: 60%" %>
  </div>

  <%= form.hidden_field :book_id %>
  <%=  form.hidden_field :user_id , :value => current_user.id %>

  <div class="actions">
    <%= form.submit "Add", class:"new-button-add" %>
  </div>
<% end %>
