<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@book.picture_url, width: 600) if @book.picture.present? %>
</p>

<h3>Reviews</h3>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.title %></strong>
    <br>
    <p><%= comment.rate %></p>
    <p><%= comment.description %></p>
    <p><%= link_to 'More', comment %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
